.custom-carousel {
  width: 100%;
  border-radius: 4px;
  border: 3px solid #191d46;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 15%;
  width: 40%;
  background-color: rgba(25, 29, 70, 0.2);
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-prev:focus .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon,
.carousel-control-next:focus .carousel-control-next-icon {
  background-color: #191d46;
  transform: scale(1.1);
}
