.skill-card-container {
  width: max-content;
  height: max-content;
  margin-top: 2px;
}

.skill-card {
  box-sizing: border-box;
  width: max-content;
  padding: 10px 16px 8px 16px;
  height: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 18px;
  border-radius: 3px;
  border: 3px solid rgba(0, 0, 0, 0);
  transition: transform .4s, box-shadow .3s, border .3s;
}

.skill-card label {
  cursor: pointer;
}

.skill-card-container:hover .skill-card, 
.skill-card:focus {
  transform: scale(1.1);
  border: 3px solid #191d46;
  box-shadow: 3px 3px darkturquoise;
  background-color: #fffefb;
}
.skill-card:hover label,
.skill-card:focus label {
  font-weight: bold;
  color: #191d46;
}

.skill-icon {
  font-size: 70px;
  transition: transform .3s;
}
.skill-icon img {
  height: 60px;
  margin-bottom: 4px;
}

.skill-name {
  font-size: 18px;
}

@media (max-width: 720px) {
  .skill-card {
    height: 105px;
  }

  .skill-icon {
    font-size: 54px;
  }
}