html {
  scroll-behavior: smooth;  /* for the single page smooth code scroll */
}

.home {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  transition: width 1s ease-in-out;
}

@media (max-width: 920px) {
  .home {
    width: 90%;
  } 
}

@media (max-width: 720px) {
  .home {
    width: 100%;
  } 
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 30px;
  background: #191d46;
  color: #fffefb;
  cursor: pointer;
  border-radius: 100%;
  border: none;
  box-shadow: 0 5px 10px #ccc;
  display: flex;
  transition: transform .3s;
}

.back-to-top:hover {
  background: darkturquoise;
  transform: scale(1.2);
}