footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 5px;
  font-weight: bold;
}

.footer-highlight {
  color: rgb(0, 181, 184);
  display: inline-block;
  transition: transform .2s ease-in-out;
}

footer a:hover .footer-highlight,
footer a:focus .footer-highlight {
  color: darkturquoise;
  transform: translateY(-5px);
}