footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-top: -20px;
  margin-bottom: 5px;
  font-weight: bold;
}

.footer-highlight {
  color: rgb(0, 181, 184);
}

footer a:hover .footer-highlight {
  color: darkturquoise;
}