.mobile {
  width: 60vw;
  padding: 18px 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
  transition: all 0.5s;
}
.mobile.hide {
  position: fixed;
  opacity: 0;
  z-index: -1;
  top: 0px;
  right: 0px;
}
.mobile.show {
  position: block;
  margin-top: -19px;
  margin-right: -12px;
  opacity: 1;
  margin-bottom: -30px;
}

.close-icon {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 28px;
  margin: 0;
  margin-bottom: -10px;
  border: solid;
  padding: 0;
  border: none;
  background: none;

  padding: 1px 4px;
  transform-origin: top right;
  transition: transform .2s ease-in-out;
}
.close-icon:hover, 
.close-icon:focus-within {
  transform: scale(1.15);
}
.close-icon .fi {
  height: 32px;
}

.mobile-options {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

.mobile-option {
  font-size: 24px;
  padding: 0 4px;
  margin: 4px 0;
  display: flex;
  transform-origin: top right;
  transition: transform .2s ease-in-out;
}
.mobile-option a {
  display: flex;
  gap: 8px;
}
.mobile-option:hover,
.mobile-option:focus-within {
  transform: scale(1.15);
}